<!-- Header -->
  <header id="header">
    <h1>{{ site.title }}</h1>
    <h2>Artiste graffeur, basé à Montréal</h2>
    <p class="description">J'ai acquis une expérience pendant plus de 10 ans en France, à travers de nombreuses murales, décoration de chambres d'enfants et participation à divers festivals. Ouvert à différents projets, n'hésitez pas à me contacter.</p>
    <ul class="icons">
      <li><a href="https://www.instagram.com/seork.art/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="mailto:seork.art@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      <li><a href="tel:+15148343001" class="icon fa-phone"><span class="label">+1(514)-834-3001</span></a></li>
    </ul>
  </header>
