<!DOCTYPE HTML>
<html>

	<head>
    {% include head.html %}
    <link rel="stylesheet" href="assets/css/404.css" />
	</head>

	<body class="is-loading-0 is-loading-1 is-loading-2">
    <section>
			<article>
				<h1>{{ page.title }}</h1>
				<p><strong>Tu t'es perdu ?</strong> Ramène-toi par ici : <a href="index.html">Accueil</a></p>
			</article>
		  <footer id="footer">
		    <ul>
		      <li><a href="mailto:seork.art@gmail.com">seork.art@gmail.com</a></li>
		      <li><a href="tel:+15148343001">+1(514)-834-3001</a></li>
		      <li><a href='/mentions-legales.html'>Mentions légales</a></li>
		      <li><a href='/plan-du-site.html'>Plan du site</a></li>
					<li><p>&copy; Aurélien Vernet</p></li>
		    </ul>
		  </footer>
		</section>
	</body>
</html>
